[Desktop Entry]
Name=Stats Webapp
Type=Application
Comment=Conform speedometer webapp
Exec=sudo /usr/bin/python /home/pi/CTCMeter/web/web.py
Terminal=true